.DS_Store
node_modules
public
.idea
.vscode
coverage
.env
output/
*.iml
.nyc_output
dump.rdb
yarn-error.log
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
.nyc_output
~$*
*.xlsx
data/*
.devcontainer/*.env